.header {
    display: flex;
    align-items: center;
    grid-area: h;
    padding: 10px;
    border-bottom: 1px solid #000;
    max-width: 100%;
    img {
        max-width: 40px;
        position: absolute;
    }
}
.title {
    margin: 0 auto;
}
