.item {
    max-width: 800px;
    border: 1px solid black;
    margin-bottom: -1px;
    
    img{
        margin-top: 15px;
        margin-left: 15px;
        max-width: 50px;
        margin-right: 10px;
        border-radius: 50%;
    }

    span {
        margin-right: 20px;
        font-weight: bold;
        font-size: 18px;
    }

}

.like {
    text-align: right;
}