.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    &Items {
        padding: 10px;
        .active {
            color: gold;    
        }
    }

    .item {
        
    }
}

.messages {
    padding: 10px;
    .message {
    }
}
